{% extends "base.html.twig" %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    {%  include 'admin/navbar.html.twig' with {'homeTab':'', 'usersTab':'', 'commentTab':'active'} %}

    <h1 class="mx-auto"> Gestion des commentaires </h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item col">
                <a class="nav-link {% if pane <= 1 %}active{% endif %}" id="nouveaux-tab" data-toggle="tab" href="#nouveaux" role="tab" aria-controls="nouveaux" aria-selected="true" style="text-align: center;">Nouveaux</a>
            </li>
            <li class="nav-item col">
                <a class="nav-link {% if pane == 2 %}active{% endif %}" id="acceptes-tab" data-toggle="tab" href="#acceptes" role="tab" aria-controls="acceptes" aria-selected="false" style="text-align: center;">Acceptés</a>
            </li>
            <li class="nav-item col">
                <a class="nav-link {% if pane == 3 %}active{% endif %}" id="refuses-tab" data-toggle="tab" href="#refuses" role="tab" aria-controls="refuses" aria-selected="false" style="text-align: center;">Refusés</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade {% if pane <= 1 %}show active{% endif %}" id="nouveaux" role="tabpanel" aria-labelledby="nouveaux-tab">

                <table class="table table-striped">
                    <tr>
                        <th> Id </th>
                        <th> Profile </th>
                        <th> Auteur </th>
                        <th> Texte </th>
                        <th> Crée le </th>
                        <th> Accepter </th>
                        <th> Refuser </th>
                    </tr>
                    {% if unvalidatedComments %}
                        {% for comment in unvalidatedComments %}
                                <tr>
                                    <td>{{comment.id}}</td>
                                    <td>{{comment.profil.lastName}} {{comment.profil.firstName}}</td>
                                    <td>{{comment.postedBy}}</td>
                                    <td>{{comment.text}}</td>
                                    <td>{{comment.createdAt | date("m/d/Y H:m:s")}}</td>
                                    <td> <a href="/admin/comments/acceptcomment/{{comment.id}}" id="acceptComment_{{ comment.id }}" class="accepter"><button class="btn btn-success"> <i class="fas fa-check"></i> </button></a> </td>
                                    <td> <a href="/admin/comments/denycomment/{{comment.id}}"  id="denyComment_{{ comment.id }}" class="refuser"><button class="btn btn-danger"> <i class="fas fa-times"></i> </button></a> </td>
                                </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7">Il n'y a pas de nouveaux commentaires en base</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="tab-pane fade {% if pane == 2 %}show active{% endif %}" id="acceptes" role="tabpanel" aria-labelledby="acceptes-tab">

                <table class="table table-striped">
                    <tr>
                        <th> Id </th>
                        <th> Profile </th>
                        <th> Auteur </th>
                        <th> Texte </th>
                        <th> Crée le </th>
                        <th> Refuser </th>
                    </tr>
                    {% if validatedComments %}
                        {% for comment in validatedComments %}
                            <tr>
                                <td>{{comment.id}}</td>
                                <td>{{comment.profil.lastName}} {{comment.profil.firstName}}</td>
                                <td>{{comment.postedBy}}</td>
                                <td>{{comment.text}}</td>
                                <td>{{comment.createdAt | date("m/d/Y H:m:s")}}</td>
                                <td> <a href="/admin/comments/denycomment/{{comment.id}}"  id="denyComment_{{ comment.id }}" class="refuser"><button class="btn btn-danger"> <i class="fas fa-times"></i> </button></a> </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">Il n'y a pas de commentaires validés en base</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="tab-pane fade {% if pane == 3 %}show active{% endif %}" id="refuses" role="tabpanel" aria-labelledby="refuses-tab">

                <table class="table table-striped">
                    <tr>
                        <th> Id </th>
                        <th> Profile </th>
                        <th> Auteur </th>
                        <th> Texte </th>
                        <th> Crée le </th>
                        <th> Accepter </th>
                    </tr>
                    {% if deniedComments %}
                        {% for comment in deniedComments %}
                            <tr>
                                <td>{{comment.id}}</td>
                                <td>{{comment.profil.lastName}} {{comment.profil.firstName}}</td>
                                <td>{{comment.postedBy}}</td>
                                <td>{{comment.text}}</td>
                                <td>{{comment.createdAt | date("m/d/Y H:m:s")}}</td>
                                <td> <a href="/admin/comments/acceptcomment/{{comment.id}}" id="acceptComment_{{ comment.id }}" class="accepter"><button class="btn btn-success"> <i class="fas fa-check"></i> </button></a> </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">Il n'y a pas de commentaires refusés en base</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
     <script>
            $(document).ready(function () {
            	alertify.set('notifier', 'position', 'top-right');
                {% if error %}
	                alertify.error("{{ error }}");
                {% endif %}
                {% if message %}
	                alertify.success("{{ message }}");
                {% endif %}
            })
        </script>
{% endblock %}
